.password {
    display: flex;
    align-items: center;
    margin: 20px;
    margin-top: 40px;
}

.input {
    flex: auto;
}

.eye {
    flex: none;
    margin-left: 8px;
    padding: 4px;
    cursor: pointer;

}

h1 {
    text-align: center;
    color: #2873d8;
    font-size: 20px;
}

.logo {
    font-size: 32px;
    text-align: center;
}

.account {
    margin: 20px;
    margin-bottom: 40px;
}

.button {
    margin: 30px;
}

.button Button {
    border-color: gray;
    margin-top: 20px;
}

.forget {
    text-align: right;
    margin-right: 30px;
    margin-bottom: 8px;
}

.text {
    font-size: medium;
    color: #999999;
    font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
    helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}