.topTabs {
    background-color: white;
}

.exchange {
    float: right;
    height: 42px;
    width: 42px;
}

.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.tabItem {
    font-weight: bold;
    font-size: 15px;
}