.tabs {
    width: 100%;
    background-color: white;
}

.exchange {
    float: right;
    height: 42px;
    width: 42px;
    /* background-color: pink; */
}

.TopItem {
    display: block;
    position: relative;
}

.navigation {
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    left: 0;
    width: 100%;
}