.tabs {
    background-color: white;
}

.exchange {
    float: right;
    height: 42px;
    width: 42px;
    /* background-color: pink; */
}

.TopItem {
    display: block;
    position: relative;
}

.navigation {
    position: sticky;
    transform: translateZ(0);
    top: 0;
}

.tabItem {
    font-weight: bold;
    font-size: 15px;
}